.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 18px;
    background-color: var(--light-blue);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: var(--blue);
    }

    &:active {
        color: var(--dark-blue);
    }
}