:root {
    --white: #fff;
    --dark-blue: #041c50;
    --light-blue: #11aabe;
    --light-red: #cc9a9a;

    --header-bg: var(--dark-blue);
    --link-color: var(--white);
    --link-hover-color: var(--light-blue);
    --link-active-color: var(--light-red);
}