.header {
    padding: 25px 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    
    .logo {
        color: var(--white);
    }
}